<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Materials</title>
</head>
<body>

<h1>Materials</h1>

<h2>Search by Type</h2>
<form action="/materials/search/type" method="get">
    <input type="text" name="type" placeholder="Enter type" required>
    <button type="submit">Search</button>
</form>

<h2>Search by Mark</h2>
<form action="/materials/search/mark" method="get">
    <input type="text" name="mark" placeholder="Enter mark" required>
    <button type="submit">Search</button>
</form>

<div th:each="material : ${materials}">
    <a th:href="@{/materials/{id}(id=${material.getId()})}"
       th:text="${material.getTypeOfMaterial() + ', ' + material.getMarkOfMaterial()}">material</a>
</div>

<br/>
<hr/>

<a href="/materials/new">Add new material</a>

</body>
</html>